Django==1.6.5
Logbook==0.7.0
Markdown==2.4.1
South==1.0
html2text==2014.7.3
oauthlib==0.6.3
pyquery==1.2.8
python-openid==2.2.5
python-social-auth==0.1.26
redis==2.10.1
requests==2.3.0
requests-oauthlib==0.4.1
six==1.7.3
verlib==0.1
wsgiref==0.1.2
