/* no media queries required for this */

/* TOP LEVEL LAYOUT
   This includes stuff like laying out the major
   divs (#main, #footer, etc)
*/
body {
    min-width: 320px;
}

/** main content **/
#main {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    overflow: visible;
}

#main #container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0px;
}

#main #container #content {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    padding: 0px;
}

/* the sidebar */
#main #primary {
    width: 300px;
    padding-top:0px;
    padding-left:0px;
    border-style:none;
    margin-top:0px;
    overflow:visible;
    float: none;
    clear: both;
    margin: 0 auto;
}

#primary ul.xoxo {
    padding: 0px;
}

#primary #mc_embed_signup {
    width:260px;
    height:166px;
    padding: 10px;
}

#primary #mc_embed_signup h3 {
    margin-bottom: 15px;
}

#primary #mc_embed_signup label {
    margin-bottom:5px;
}

#primary #mc-embedded-subscribe {
    width:73px;
    height:27px;
    margin-top:15px;
}

#primary #mc_embed_close {
    display:none;
}

#primary #mce-EMAIL {
    height:20px;
    margin:0px;
    padding:0px;
    line-height:100%;
    width:205px;
    padding:0px 5px;
    padding-right:26px;
}

#primary #arrow {
    width: 51px;
    height: 36px;
    display: block;
    position: relative;
    top: 102px;
    left: 235px;
    margin-bottom: -36px;
}

#primary #mc_embed_signup .morelink {
    margin-top: -50px;
    font-size: 10px;
    margin-left: 180px;
    display: block;
}

#primary #mc_embed_signup .rss {
    display:block;
    text-indent:-9999px;
    height:59px;
    width:57px;
    margin-left: 240px;
    margin-top: -110px;
}

#primary #mc_embed_signup .twitter {
    display:block;
    text-indent:-9999px;
    height:67px;
    width:71px;
    margin-left: 240px;
    margin-top: -8px;
}

#primary #mc_embed_signup .hidelink {
    display:block;
    width:0px;
}

#primary #mc_embed_signup .numsubs {
    padding-left: 25px;
    margin-top: 25px;
    display: block;
    margin-left: 40px;
}

/** The footer **/
#footer {
}

#footer #subsidiary {
    width: 300px;
    margin: 0 auto;
}

#footer #siteinfo {
    width: 100%
}

/** The header **/
#header {
    height: 89px;
}

#header #branding {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 14px;
    width: 100%;
}

#header #blog-title {
    height: 54px;
    float: left;
    width: 140px;
}

#header #blog-title span a {
    display: block;
    width: 150px;
    height: 50px;
}

#header #blog-description {
    display: none;
}

#header #topnav {
    float: right;
    padding-top: 18px;
}

#header #topnav li
{
    float:left;
    list-style:none;
    margin-right:10px;
}

#header #topnav li > a {
    padding:8px;
    font-size:1em;
}

#header #topnav li.searchitem {
    display: none;
}

#header #topnav input#s {
    padding: 6px 12px;
    height:12px;
    line-height:100%;
    width:125px;
    padding-right:25px;
}


#header #topnav #searchsubmit {
    display:none;
}

#header #crumbs {
    clear:both;
    margin:0 auto;
    height:33px;
    width:100%;
    padding-top:5px;
}

#header #crumbs ul {
    float:left;
    height:22px;
    margin-bottom:0px;
}

#header #crumbs li {
    padding-left:5px;
    padding-right:20px;
    height:22px;
}

#header #crumbs li.home {
    padding-right:10px;
}

#header #crumbs li.lastcrumb {
    padding-right:10px;
}

#header #crumbs li.home a {
    text-indent:-9999px;
    width:16px;
    height:16px;
    display:block;
    margin-top:2px;
}

#header #crumbs li.home a span {
    display:none;
}

#container {
    padding:10px;
    width:100%;
    margin:0px;
}

#footer {
    margin-top:100px;
}

#footer #subsidiary {
    height:100%;
}

#footer #siteinfo {
    padding:0px;
    padding-bottom:25px;
    height: 65px;
}

#footer #siteinfo #totop {
    float:right;
    width:48px;
    height:44px;
    margin-top:-50px;
}

#footer #siteinfo a div {
    display:block;
    height:65px;
    width:225px;
    float: right;
    margin-top: -11px;
}

#footer #subsidiary #first {
    display: none;
}

#footer #subsidiary #fblike
{
    height:250px;
    display: block;
}

#content .post-image, #content .post-image-small {
    width: 100%;
}

#content .column {
    width: 100%;
}

#content .column.three {
    display: block;
}

.fblike-frame {
    border: none;
    overflow: hidden;
    width: 100%;
    height: 60px;
}

#additional #downloads
{
    width:95%;
    padding:10px;
    float:left;
}

#additional #summary
{
    padding:10px;
    float:left;
    width:95%;
}

#content .post-image-featured {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#featured ul {
    list-style:none;
    margin-top: -10px; 
    margin-left: 0px;
}

#featured #controls {
    position:relative;
    width:50px;
    top:25px;
    left: 85%;
    right: 10px;
    z-index: 100;
}

