@media only screen and (min-width: 600px) {
#content .column {
    width: 30%;
}
#content .column.three {
    display: block;
}

#additional #downloads
{
    width:45%;
    padding:10px;
    float:left;
}

#additional #summary
{
    padding:10px;
    float:right;
    width:45%;
}

#footer #subsidiary #first {
    display: none;
}

}
