nav .glyphicon-margin {
    margin-right: 0.5em;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
    .container {
        width: 940px;
    }
}

.img-center {
    margin: 0 auto;
}

.img-pulled-right {
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.footer {
}

.facebook-liker-nopadding {
    padding: 0px;
}
