<ol class="breadcrumb">
    <li><a href="/"><span class='glyphicon glyphicon-home'></span></a></li>
    {% ifequal current_page 'tutorials' %}
        <li><a href="/tutorials/">Tutorials</a></li>
        {% if tutorial.category %}
            <li><a href='/category/{{category_slug}}/'>{{tutorial.category}}</a></li>
        {% endif %}
        {% if tutorial.slug %}
            {% if tutorial.series %}
                <li><a href='/tutorials/{{series_first.slug}}'>{{tutorial.series.name}}</a></li>
            {% endif %}
            <li><a href='/tutorials/{{tutorial.slug}}/'>{{tutorial.title}}</a></li>
        {% endif %}
    {% endifequal %}
    {% ifequal current_page 'track' %}
        <li><a href="/tracks/">Tracks</a></li>
        {% if track %}
            <li><a href='/tracks/{{track.slug}}/'>{{track.title}}</a></li>
        {% endif %}
    {% endifequal %}
    {% ifequal current_page 'category' %}
        <li><a href="/tutorials/">Tutorials</a></li>
        <li><a href='/category/{{category.slug}}/'>{{category.title}}</a></li>
    {% endifequal %}
    {% ifequal current_page 'contribute' %}
        <li><a href='/contribute/'>Contribute</a></li>
    {% endifequal %}
    {% ifequal current_page 'about' %}
        <li><a href='/about/'>About</a></li>
    {% endifequal %}

    {% ifequal current_page 'why-login' %}
        <li><a href='/why-login/'>Why login?</a></li>
    {% endifequal %}

    {% ifequal current_page 'profile' %}
        <li><a href='/profile/'>Profile</a></li>
    {% endifequal %}

    {% ifequal current_page 'opencv-blueprints' %}
        <li><a href='/opencv-blueprints/'>OpenCV Blueprints</a></li>
    {% endifequal %}

    {% ifequal current_page 'vision-scrolls' %}
        <li><a href='/vision-scrolls/'>The Secret Vision Scrolls</a></li>
    {% endifequal %}

    {% ifequal current_page 'name-that-dataset' %}
        <li><a href='/name-that-dataset/'>Name that dataset!</a></li>
    {% endifequal %}

    {% ifequal current_page 'starthere' %}
        <li><a href='/start-here/'>Start here</a></li>
    {% endifequal %}

    {% ifequal current_page 'search' %}
        <li><a href='/search/'>Search</a></li>
    {% endifequal %}
</ol>
