<div class="row">
    <div class='facebook-liker col-md-3 hidden-xs hidden-sm col-md-offset-1'>
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Faishack&amp;width=292&amp;colorscheme=dark&amp;show_faces=true&amp;border_color=%23444343&amp;stream=false&amp;header=false&amp;height=250" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:250px;" allowTransparency="true"></iframe>
    </div>
    <div class='col-md-3 col-md-offset-1'>
        <h3>More on AI Shack</h3>
    </div>
    <div class='col-md-3 col-md-offset-1'>
        <h3>About</h3>
    </div>
</div>
<div class='row'>
    <div class="siteinfo">
    </div>
</div>
