{% load staticfiles %}

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src='{% static "/static/img/site-logo.png" %}' /> <strong>{{ SITE_TITLE }}</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li {% ifequal current_page "home" %}class="active"{% endifequal %}><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li {% ifequal current_page "tutorials" %}class="active"{% endifequal %}><a href="/tutorials/"><span class="glyphicon glyphicon-th glyphicon-margin"></span>Tutorials</a></li>
        <li {% ifequal current_page "contribute" %}class="active"{% endifequal %}><a href="/contribute/"><span class="glyphicon glyphicon-pencil glyphicon-margin"></span>Contribute</a></li>
        <li {% ifequal current_page "about" %}class="active"{% endifequal %}><a href="/about/">About</a></li>
        {% if user.is_authenticated %}
            <li class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown' href='/profile/'l><img class='img-circle user-gravatar' src='http://gravatar.com/avatar/{{user_email_md5}}?size=24px' /> {{ user.first_name }}<span class='caret'></span></a>
              <ul class='dropdown-menu' role='menu'>
                <li><a href='/profile/'>Profile</a></li>
                <li class='divider'></li>
                <li><a href='/logout/' />Logout</a></li>
              </ul>
            </li>

        {% else %}
            <li class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown' href='/login/'><span class='glyphicon glyphicon-user glyphicon-margin'></span>Login<span class='caret'></span></a>
              <ul class='dropdown-menu' role='menu'>
                <li><a href='{% url "social:begin" "google-oauth2" %}?next={{ request.path }}'><img src='{% static "img/google-icon-sm.png" %}' class='glyphicon-margin' />Login with Google</a></li>
                <li class='divider'></li>
                <li><a href='/why-login/' />Why login?</a></li>
              </ul>
            </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
