<div class="col-md-4 hidden-xs hidden-sm visible-md visible-lg sidebar">
    <div class='panel panel-info'>
        <div class='panel-heading'>Register</div>
        <div class='panel-body'>Learn about stuff</div>
    </div>
    <div class='panel panel-default'>
        <div class='panel-heading'>You might be intersted in</div>
        <div class='panel-body'>More stuff here</div>
    </div>
</div>
<div class="col-md-4 visible-xs visible-sm hidden-md hidden-lg sidebar-bottom">
    <p>The bottom sidebar</p>
</div>
