<div class="col-md-4 hidden-xs hidden-sm visible-md visible-lg sidebar">
    {# Show the 'register now' panel only if someone has not logged in #}
    {% if not user.is_authenticated %}
        <div class='panel panel-info'>
            <div class='panel-heading'>Register</div>
            <div class='panel-body'>Learn about stuff</div>
        </div>
    {% endif %}
    <div class='panel panel-default'>
        <div class='panel-heading'>Search</div>
        <div class='panel-body'>
            <form class='form-inline' role='form' method='get' action='/search'>
                <div class='form-group has-feedback'>
                    <input type='text' class='form-control' placeholder='Search' name='q' id='search-term'>
                    <span class='glyphicon glyphicon-search from-control-feedback'></span>
                </div>
            </form>
        </div>
    </div>

    <div class='panel panel-default'>
        <div class='panel-heading'>Support!</div>
        <div class='panel-body'>
            <a href='http://gittip.com/liquidmetal'><button type='button' class='btn btn-success'>Support via Gittip!</button></a>
        </div>
    </div>
</div>
<div class="col-md-4 visible-xs visible-sm hidden-md hidden-lg sidebar-bottom">
    <p>The bottom sidebar</p>
</div>
