<div class="col-md-4 hidden-xs hidden-sm visible-md visible-lg sidebar">
    {# Show the 'register now' panel only if someone has not logged in #}
    {% if not user.is_authenticated %}
        <div class='panel panel-info'>
            <div class='panel-heading'>Login</div>
            <div class='panel-body'>Login to AI Shack (with your Google account) and track your progress through the tutorials!</div>
        </div>
    {% endif %}
    <div class='panel panel-default'>
        <div class='panel-heading'>Search</div>
        <div class='panel-body'>
            <form class='form-inline form-search' role='form' method='get' action='/search'>
                <div class='form-group has-feedback'>
                    <input placeholder='Search' type='text' class='form-control' name='q' id='q' />
                    <input type='hidden' name='models' value='aishack.tutorial' />
                    <span class='glyphicon glyphicon-search form-control-feedback'></span>
                </div>
            </form>
        </div>
    </div>

    {% ifnotequal current_page 'track' %}
    {% if track %}
        <div class='panel panel-default'>
            <div class='panel-heading'>Track: {{track.title}}</div>
            <div class='panel-body'>
                {% if track_following %}
                    <div class='progress'>
                        <div class='progress-bar' role='progressbar' aria-valuenow='{{tuts_in_track_read}}' aria-valuemin='0' aris-valuemax='{{ track_length }}' style='width: {{tuts_in_track_read_percent}}%'>
                            {{tuts_in_track_read}} / {{track_length}}
                        </div>
                    </div>

                    <ul>
                        {% for tut in track.tutorial_list %}
                            {% ifequal tut tutorial %}
                                <li>{{tut.title}}<span class='glyphicon glyphicon-ok'></span></li>
                            {% else %}
                                <li><a href='/tutorials/{{tut.slug}}/'>{{tut.title}}</a>{% if tut in track_tuts_read %}<span class='glyphicon glyphicon-ok'></span>{% endif %}</li>
                            {% endifequal %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class='pull-right'><a href='/tracks/signup/{{track.slug}}/' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-primary'>Signup</button></a></p>
                    <p>{{ track.excerpt }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endifnotequal %}
   
    {% if knob_show_opencv_blueprints %} 
        <div class='panel panel-default'>
            <div class='panel-heading'>OpenCV Blueprints</div>
            <div class='panel-body'>
                <a href='/opencv-blueprints/'><img src='/static/img/opencv-blueprints.jpg' /></a>
            </div>
        </div>
    {% endif %}

    {% if knob_show_vision_scrolls %} 
        <div class='panel panel-default'>
            <div class='panel-heading'>Vision Scrolls</div>
            <div class='panel-body'>
                <a href='/opencv-blueprints/'><img src='/static/img/opencv-blueprints.jpg' /></a>
            </div>
        </div>
    {% endif %}


    <div class='panel panel-default'>
        <div class='panel-heading'>Popular tutorials</div>
        <div class='panel-body'>
            <table class='table'>
            {% for tut in POPULAR_TUTORIALS %}
                    <tr><td><a href='/tutorials/{{tut.slug}}/'>{{tut.title}}</a></td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="col-md-4 visible-xs visible-sm hidden-md hidden-lg sidebar-bottom">
    <p>The bottom sidebar</p>
</div>
