{% extends 'base.html' %}

{% load highlight %}
{% load get_range %}
{% load is_tutorial %}
{% load is_category %}
{% load is_series %}

{% block content %}
    <h2>Search</h2>

    <div class='search-page'>
        <form class='form-inline form-search' method='get' action='/search/'>
            <div class='form-group has-feedback'>
                <input placeholder='Search' type='text' {% if request.GET.q %}value='{{request.GET.q}}'{% endif %} class='form-control' name='q' id='q' />
                <span class='glyphicon glyphicon-search form-control-feedback'></span>
            </div>
        </form>
        <hr/>
    </div>

        {% if query %}
            {% ifequal num_total 0 %}
                <p>Found nothing bruv</p>
            {% endifequal %}

            {% if num_categories %}
            <div class='col-md-12 category-list'>
                <h3>Relevant categories</h3>
                <ul>
                {% for result in object_list %}
                    {% if result.object|is_category %}
                    <li>
                        <a href='{{ result.object.get_absolute_url }}'>Category: {{ result.object.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class='clearfix'></div>
            <hr/>
            {% endif %}

            {% if num_series %}
            <h3>Tutorial series</h3>
            {% for result in object_list %}
                <div class='col-md-12'>
                    {% if result.object|is_series %}
                        <img src='{{ result.object.first_tutorial.post_thumb }}' class='pull-left search-thumbnail'/>
                        <p><a href='{{result.object.first_tutorial.get_absolute_url}}'>Series: {{ result.object.name }}</a>
                        <ol>
                            <span class='glyphicon glyphicon-list-alt'></span>
                            {% for tut in result.object.tutorial_list %}
                                <a href='{{tutorial.get_absolute_url}}'>{{forloop.counter}}</a></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            {% endfor %}
            <div class='clearfix'></div>
            <hr/>
            {% endif %}

            {% if num_tutorials %}
            <h3>Tutorials</h3>
            {% for result in object_list %}
                <div class='col-md-12'>
                    {% if result.object|is_tutorial %}
                        <img src='{{ result.object.post_thumb }}' class='pull-left search-thumbnail'/>
                        {% if result.object.series %}
                            <p><a href='{{ result.object.get_absolute_url }}'>{{result.object.series.name}}: {{ result.object.title }}</a></p>
                        {% else %}
                            <p><a href='{{ result.object.get_absolute_url }}'>{{ result.object.title }}</a></p>
                        {% endif %}
                        <p>{{ result.object.excerpt }}</p>
                        <!--a href='/tutorials/{{result.object.slug}}/'><button type='button' role='button' class='btn btn-default'>Read more</button></a-->
                    {% endif %}

                </div>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
                <div class='clearfix'></div>
                <hr/>
            {% endif %}

            {% if is_paginated %}
                <div>
                    <ul class='pagination'>
                        {% if paginator.has_previous %}
                            <li><a href='/search?q={{query}}&amp;page={{paginator.previous_page_number}}'>&laquo;</a></li>
                        {% else %}
                            <li class='disabled'><a href='#'>&laquo;</a></li>
                        {% endif %}

                        {% for num in paginator.num_pages|get_range %}
                            <li {% ifequal forloop.counter number %}class='active'{%endifequal%}><a href="/search?q={{query}}&amp;page={{forloop.counter}}">{{forloop.counter}}</a></li>
                        {% endfor %}

                        {% if paginator.has_next %}
                            <li><a href='/search?q={{query}}&amp;page={{paginator.next_page_number}}'>&raquo;</a></li>
                        {% else %}
                            <li class='disabled'><a href='#'>&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax or some else? #}
        {% endif %}
{% endblock %}
