{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<h2>About</h2>
Welcome to AI Shack – a place to learn artificial intelligence through clear tutorials. All the mathematical mumbo-jumbo, made so simple to understand (through graphics, animations, and videos) that you’d think “Oh, that’s it?”.

Its like a “Talk to me like I’m a 3 year old” book on properties of the Hausdorff space in topology.
<p><img class='img-center' src="{% static "img/picme.jpg" %}" /></p>

<h3>Who?</h3>
<p>My name is Utkarsh Sinha, and I’m the creator and writer here at AI Shack. I’m 24, a graduate from BITS-Pilani, Goa with B.E. Computer Science + M.Sc. Mathematics. I work at DreamWorks Animation.</p>
<p>And I’m interested in artificial intelligence! Just the idea of getting a machine to do smart things gets me excited! I also enjoy designing static and motion graphics. And, I also perform magic, the way David Blaine does. [<a href="http://www.youtube.com/watch?v=RvXnkyblMko">look at this video of mine</a>].</p>
<p>Oh, and you can check my <a href="http://utkarshsinha.com">personal website</a> if you want.</p>

<h3>What?</h3>
<p>On AI Shack, you’ll find tutorials and articles on image processing, neural networks, data structures, algorithms, computer vision, machine learning, and computer graphics. Every article is clear, concise and uses simple terms.</p>
<p>Yes, they aren’t as senseless as your professor’s lecture.</p>

<h3>Why?</h3>
<p>I used to search the internet for tutorials. To help me understand how things work. But I never found any. All I got was lecture slides of various universities, or articles put up by professors. And they assumed you know a lot (prerequisites, anyone?). Read 57 different articles written by professors of different universities, and only then can you understand the concept (by the way, no one really understands what professors say, anyway).</p>
<p>So I started writing tutorials, in a clear and concise manner. To help people learn things online. Totally hassle-free :P</p>

<h3>How?</h3>
<p>Being in Goa, India while pursuing my degree has definitely had an effect on me! The beaches, the golden sand, the tall coconut trees, the old churches (no I’m not Christian).</p>
<p>And most importantly, the Goan shacks. Beach side huts that serve great food! Oh! And, of course, the academic aspect too.</p>
<p>When thinking of a name for this site, I thought, “AI Shack”. At that time, it did make sense! And thus the name was finalized!</p>
{% endblock %}
