{% load staticfiles %}
<!DOCTYPE HTML>
<html lang='env'>
    <head>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Utkarsh Sinha">
        <link rel="shortcut icon" href="{% static 'img/fav.gif' %}" />
        <link href='/static/css/bootstrap-editable.css' rel='stylesheet'>
        <title>{% if page_title %} {{ page_title }} - {% endif %}{{ SITE_TITLE }}</title>

        <link rel="stylesheet" href='{% static "css/bootstrap.orange.min.css" %}' />
        <link rel="stylesheet" href='{% static "css/custom.css" %}' />
    </head>
    <body>
        <div class='container-fluid header-top'>
            <nav class='navbar navbar-default' role='navigation'>
                <div class='container'>
                    {% include "includes/nav.html" %}
                </div>
            </nav>
        </div>
        <div class='container pad-bottom'>

            <div class="row">
                <div class="col-md-8">
                    {% ifnotequal current_page 'home' %}
                        {% include "includes/crumbs.html" %}
                    {% endifnotequal %}
                    {% block content %}{% endblock %}
                </div>
                {% include "includes/sidebar.html" %}
            </div>
        </div>
        <div class='container footer'>
            {% include "includes/footer.html" %}
        </div>
        <div class='container-fluid footer-bottom'>
            <div class='container'>
                <div class='row siteinfo'>
                    <div class='col-md-12'>
                        <p class='pull-left to-top'></p>
                        <a href='/'><img class='pull-right logo-footer' src='{% static "/static/img/logo-footer.jpg" %}' /></a>
                        <p class='creator'>Created by <a href='http://utkarshsinha.com/' target='_blank'>Utkarsh Sinha</a></p>
                </div>
            </div>
        </div>
        <script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
        <script src='{% static "js/bootstrap.min.js" %}'></script>
        <script src='{% static "js/custom.js" %}'></script>
        <script src='/static/js/bootstrap-editable.min.js'></script>
    </body>
</html>
