{% extends "base.html" %}

{% block content %}
<h2>Contribute to AI Shack</h2>
<p>Do you have expertise in a certain area of AI? Worked on an awesome project recently?</p>
<p>AI Shack might be a good place to showcase your work and get noticed by several thousand people very day</p>

<p>I'm always looking for new articles to help the community on this website. These articles can fit the following general categories:</p>
<ul>
    <li>In-depth articles on specific topics relating to artificial intelligence in general.</li>
    <li>An overview of how a certain task can be achieved.</li>
    <li>New upcoming technology that's bound to leave the AI community richer!</li>
    <li>Critiq about a recent book/article/paper you read.</li>
</ul>

<p>I'll work with you to get the an article up on the website. As a first step, you'll need to for the <a href='http://github.com/aishack/aishack' target='_blank'>website repository</a></p>
<p>Once you've forked the repository, look at the <code>tutorials</code> directory. That location contains all the tutorials/articles on this website. You'll have to create your own article/tutorial in that directory and send me a pull request.</p>
<p>Some guidelines on writing a tutorial are available here: <a href='https://github.com/aishack/aishack/wiki/Writing-a-tutorial'>Writing a tutorial</a>.</p>

<p>If you have queries, you can contact me: <a href='mailto:utkarsh@utkarshsinha.com'>utkarsh@utkarshsinha.com</a></p>
{% endblock %}
