{% extends "base.html" %}

{% block content %}

<div class='row featured'>
<div class='col-md-12'>
<h3>Featured tutorials</h3>
    <div class='row'>
        {% for tut in featured %}
            <div class='col-md-3'>
                <div class='item {% if forloop.first %}active{% endif %}'>
                    <a href='/tutorials/{{tut.slug}}'><img class='thumb pull-left' src='{{tut.post_thumb}}' alt='' /></a>
                    <div class=''>
                        <a href='/tutorials/{{tut.slug}}'>
                            {% if tut.series %}
                                <h4>{{ tut.series.name }}</h4>
                            {% else %}
                                <h4>{{ tut.title }}</h4>
                            {% endif %}
                        </a>
                        <p>{{ tut.excerpt }}</p>
                        <!--a href='/category/{{tut.category.slug}}/' class='tut-category'>{{tut.category.title}}</a-->
                        <a class='read-more' href='/tutorials/{{tut.slug}}/'><button type='button' role='button' class='btn btn-default'>Read more</button></a>
                    </div>
                    <div class='clear-fix'></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>

<hr/>
<h3>Recent tutorials</h3>
<div class='row recent'>
    {% for tut, series in recent_tutorials|slice:":4" %}
        <div class='col-md-3'>
            <a href='/tutorials/{{tut.slug}}/'><img src="{{tut.post_thumb}}" class='thumb pull-left'/></a>
            <a href='/tutorials/{{tut.slug}}/'><h4>{% if series %} {{ series.name }} {% else %} {{ tut.title }} {% endif %}</h4></a>
            <p>{{tut.excerpt}}</p>
            <a class='read-more' href='/tutorials/{{tut.slug}}/'><button type='button' role='button' class='btn btn-default'>Read more</button></a>
            <div class='clearfix'></div>
        </div>
    {% endfor %}
</div>

<hr/>
<div class='row home-new-tuts'>
    <div class='col-md-12'>
        {% for tut, series in recent_tutorials|slice:"4:" %}
            <div class='summary clearfix'>
                <img src='{{tut.post_thumb}}' style='height: 80px' class='pull-left'/><a href='/tutorials/{{tut.slug}}/'><h4>{% if series %} {{ series.name }} {% else %} {{ tut.title }} {% endif %}</h4></a>
                <a href='/tutorials/{{tut.slug}}/'><button type='button' role='button' class='btn btn-default pull-right'>Read more</button></a>
                <p>{{tut.excerpt}}</p>
            </div>
        {% endfor %}
    </div>
</div>

<div class='row category-list'>
    <div class='col-md-12'>
        <h3>Categories</h3>
        <ul>
            {% for category in categories %}
            <li><a href='/category/{{category.slug}}/'>{{category.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<hr/>

<a href='/tutorials/'><button class='btn btn-default'>View all tutorials</button></a>
<hr/>

{% endblock %}

{% block inlinejs %}
{% endblock %}
