{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}
    <h2>
        {% ifequal aishackuser.user user %}
            <a href='#' id='first_name' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-type='text' data-url='/profile/edit/' data-pk='3' data-emptytext="Firstname" data-title='First name'>{{ aishackuser.user.first_name | striptags }}</a>
            <a href='#' id='last_name' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-type='text' data-url='/profile/edit/' data-pk='4' data-emptytext="Lastname" data-title='Last name'>{{ aishackuser.user.last_name | striptags }}</a>
        {% else %}
            {{ aishackuser.user.first_name | striptags }} {{ aishackuser.user.last_name | striptags }}
        {% endifequal %} 
    </h2>

    <div class='row'>
        <div class='col-md-2'>
            <img class='img-circle' src='http://gravatar.com/avatar/{{profile_email_md5}}?size=80px' />
        </div>
        <div class='col-md-10'>
            <div class='row'>
                <div class='col-md-12'>
                    {% ifequal aishackuser.user user %}
                        <a href='#' id='website' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-type='text' data-url='/profile/edit/' data-pk='2' data-emptytext="website" data-title='Website'>{{ aishackuser.website | striptags }}</a> &middot; 
                    {% else %}
                        {% if aishackuser.website %}
                            {{ aishackuser.website %} &middot; 
                        {% endif %}
                    {% endifequal %}
                    Joined <span title="{{aishackuser.user.date_joined}}">{{ aishackuser.user.date_joined | naturaltime }}</span>
                </div>
            </div>
            <p>
            {% ifequal aishackuser.user user %}
                <a href='#' id='short_bio' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-type='textarea' data-pk='1' data-url='/profile/edit/' data-title='Short bio here'>{{ aishackuser.short_bio | striptags }}</a>
            {% else %}
                {{ aishackuser.short_bio | striptags }}
            {% endifequal %}
            </p>
        </div>
    </div>
    <hr />

    <div class='row'>
        <div class='col-md-12'>
        {% ifequal aishackuser.user user %}
            <a href='#' id='bio' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-type='textarea' data-pk='5' data-url='/profile/edit/' data-emptytext="Your bio here" data-title='Short bio here'>{{ aishackuser.bio | striptags }}</a>
            <hr />
        {% else %}
            {% if aishackuser.bio %}
                {{ aishackuser.bio }}
                <hr />
            {% endif %}
        {% endifequal %}

        </div>
    </div>

    {% if tutorials_written_count %}
        <p>{{aishackuser.user.first_name}} has written <strong>{{ tutorials_written_count }} tutorials</strong><p>
        <ul>
        {% for tut in tutorials_written %}
            <li><a href='/tutorials/{{tut.slug}}/'>{{tut.title}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if tutorials_read_count %}
        <p>{{aishackuser.user.first_name}} has read <strong>{{ tutorials_read_count }} tutorials</strong>
            {% if tracks_completed_count %}
                and completed <strong>{{ tracks_completed_count }} tracks</strong>
            {% endif %}
        </p>

        {% if tracks_following %}
            <p>Tracks following</p>
            <ul>
                {% for track in tracks_following %}
                    <li><a href='/tracks/{{track.slug}}/'>{{track.title}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}


        <p>Tutorials read:</p>
        <ul>
        {% for tut in tutorials_read %}
            <li><a href='/tutorials/{{tut.slug}}/'>{{tut.title}}</a></li>
        {% endfor %}
        </ul>

    {% endif %}

    <script>
    </script>


{% endblock %}
