{% extends "base.html" %}

{% block content %}
    {% if track %}
        <h2> {{track.title}} </h2>
        <hr />
        <div class='pull-right'><a href='/tracks/signup/{{track.slug}}' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-primary'>Signup</button></a></div>

        {{ track.description | safe }}

        <table class='table table-striped table-hover'>
            <tr><th></th><th>Tutorial</th><th>Read</th></tr>
        {% for tut in tutorials %}
            <tr><td></td><td>{{ forloop.counter }}. <a href='/tutorials/{{tut.slug}}'>{{ tut.title }}</a></td><td><a href='/tutorials/{{ tut.slug }}'>Read</a>
        {% endfor %}
        </table>

        <hr />
    {% else %}
        <h2>Tracks</h2>
        Tutorial tracks
        {% for track in tracks.all %}
            <div class='clearfix'>
                <div class='thumbnail pull-left'>
                    <a href='/tracks/{{track.slug}}'><img src='{{track.thumbnail}}' /></a>
                </div>

                <div class='caption'>
                    <h4><a href='/tracks/{{track.slug}}'>{{track.title}}</a></h4>
                    <p>{{track.excerpt | safe}}</p>
                    {% if track in tracks_following %}
                        <p>Following</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
