{% extends "base.html" %}

{% block content %}
    {% if track %}
        <h2> {{track.title}} </h2>
        <hr />
        <div class='pull-right'>
        {% if track_followed %}
            {% if track_completed %}
                <a href='/tracks/certificate/{{track.slug}}' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-success'>Completed!</button></a>
            {% else %}
                <a href='/tracks/withdraw/{{track.slug}}' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-default'>Withdraw</button></a>
            {% endif %}
        {% else %}
            <a href='/tracks/signup/{{track.slug}}' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-primary'>Signup</button></a>
        {% endif %}
        </div>

        {{ track.description | safe }}

        <table class='table table-striped table-hover'>
            <tr><th></th><th>Tutorial</th><th>Read</th></tr>
        {% for tut in tutorials %}
            <tr><td></td><td>{{ forloop.counter }}. <a href='/tutorials/{{tut.slug}}'>{{ tut.title }}</a></td><td><a href='/tutorials/{{ tut.slug }}'>Read</a>
        {% endfor %}
        </table>

        <hr />
    {% endif %}
{% endblock %}
