{% extends "base.html" %}

{% block content %}
    {% if track %}
        <h2> {{track.title}} </h2>
        <hr />
        {% if not user.is_authenticated %}
            <p><span class='tut-warn'>You need to login to signup for tracks! Once you sign in, you'll be able to track your progres through the tutorials here.</span></p>
        {% endif %}

        <div class='clearfix pull-right'>
        {% if track_followed %}
            {% if track_completed %}
                <a href='/tracks/certificate/{{track.slug}}' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-success'>Completed!</button></a>
            {% else %}
                <a href='/tracks/withdraw/{{track.slug}}' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-default'>Withdraw</button></a>
            {% endif %}
        {% else %}
            <a href='/tracks/signup/{{track.slug}}' id='btn-signup' data-toggle='tooltip'><button type='button' class='btn btn-primary'>Signup</button></a>
        {% endif %}
        </div>


        {{ track.description | safe }}
        <div class='clearfix'><hr /></div>

        <table class='table table-striped table-hover'>
            <tr><th></th><th>Tutorial</th></tr>
        {% for tut in tutorials %}
            <tr>
                <td>{% if tut in tutorials_read %}<span class='glyphicon glyphicon-ok'></span>{% else %}&nbsp;{% endif %}</td>
                <td>{{ forloop.counter }}. <a href='/tutorials/{{tut.slug}}'>{{ tut.title }}</a></td>
        {% endfor %}
        </table>

        <hr />
    {% endif %}
{% endblock %}
