{% extends "base.html" %}

{% block content %}
    {% if tutorial %}
        {% if tutorial.post_image %}
            <img class='tut-post-image img-responsive' src="{{ tutorial.post_image }}" />
        {% endif %}
           <div class="fb-like" data-href="http://facebook.com/aishack" data-adapt-container-width="true" data-layout="standard" data-action="like" data-show-faces="true"></div> 
        <hr />

        {% if tutorial.series %}
            <h2>{{ tutorial.series.name }}</h2>
            <hr/>
        {% endif %}
            <h2>{{ tutorial.title }}</h2>
            {% if tutorial.series %}
                <div class='pull-right series-box-top'>
                    <p><strong>Series</strong>: {{ tutorial.series.name }}:</p>
                    <ol>
                        {% for tut in tutorial.series.tutorial_list %}
                            <li>
                                {% ifequal tut tutorial %}
                                    <strong>{{tut.title}}</strong>
                                {% else %}
                                    <a href='/tutorials/{{tut.slug}}/'>{{tut.title}}</a>
                                {% endifequal %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}



        <div class='tutorial-content'>
            {{ tutorial.content | safe }}
        </div>

        {% if tutorial.series %}
            <hr />
            <h2>More in the series</h2>
            <p>This tutorial is part of a series called <strong>{{ tutorial.series.name }}</strong>:</p>
            <ol>
                {% for tut in tutorial.series.tutorial_list %}
                    <li>
                        {% ifequal tut tutorial %}
                            <strong>{{tut.title}}</strong>
                        {% else %}
                            <a href='/tutorials/{{tut.slug}}/'>{{tut.title}}</a>
                        {% endifequal %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}

        {# related posts #}
        {% if related_tuts %}
            <hr/>
            <h4>Related posts</h4>
            <div class='row'>
                {% for tut in related_tuts %}
                    <div class='col-md-3'>
                        <img class='img-responsive' src='{{tut.post_image}}' />
                        <p><a href='/tutorials/{{tut.slug}}/'>{{ tut.title }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr />
       <div class="fb-like" data-href="http://facebook.com/aishack" data-adapt-container-width='true' data-layout="standard" data-action="like" data-show-faces="true"></div> 
        <hr />

        {# Show the book banner #}
        {% if knob_show_opencv_blueprints_banner_per_tutorial %}
            <hr />
            <div class='clearfix'>
                <a href='/opencv-blueprints'><img class='pull-left' src='/static/img/book-banner.png' /></a>
                <h2><strong><a href='/opencv-blueprints'>OpenCV 3 Blueprints</a></strong></h2>
                <p>Learn how to identify <strong>face expressions</strong>, <strong>fingerprints</strong>, setup automated <strong>camera traps</strong>, stabilize mobile video with <strong>gyroscopes</strong> and use the <strong>Android NDK</strong></p>
                <p>The book is packed with the fundamentals of computer vision and will get you started on just the right track.</p>
                <p><a class ='btn btn-primary btn-blueprints pull-right' href='/opencv-blueprints'>Learn more about the book</a></p>
            </div>
        {% endif %}

        {# author bio #}
        <div class='well'>
            <div class='col-sm-2'>{% if aishackuser.website %}<a href='{{ aishackuser.website }}' target='_blank'>{% endif %}<img class='img-circle' src='http://gravatar.com/avatar/{{ author_email_md5 }}?size=80px' />{% if aishackuser.website %} </a>{% endif %}</div>
            <div class='col-sm-10'>{{ aishackuser.short_bio | safe }}</div>
            <div class='clearfix'></div>
        </div>

    {% else %}
        <h2>Tutorials</h2>
        <p>Here is a listing of all the tutorials on this AI Shack</p>
        <h3>Tracks</h3>
        <p>Tracks are a series of tutorials put together in a logical order</p>
        {% for track in tracks %}
            <div class='clearfix'>
                <div class='row clearfix'>
                    <div class='col-md-2'>
                        <a href='/tracks/{{track.slug}}/'><img class='pull-right' src='{{track.thumbnail}}' /></a>
                    </div>
                    <div class='caption col-md-10'>
                        <h4><a href='/tracks/{{track.slug}}/'>{{track.title}}</a></h4>
                        <p>{{track.excerpt | safe}}</p>
                    </div>
                    <hr/>
                </div>
            </div>
        {% endfor %}
        <h3>Categories</h3>
        <p>Some broad categories of topics covered on AI Shack. Pick one to drill down.</p>
        <div class='row category-list'>
            <ul>
                {% for category in categories %}
                    <li><a href='/category/{{category.slug}}/'>{{category.title}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h3>All tutorials</h3>
        <ul>
        {% for category, items in tutorials_to_display.items %}
            <div class='clearfix category'>
                <div class='category-info'>
                    <a href='/category/{{category.slug}}'><img src="{{category.thumb}}" class='category-thumb pull-right' /></a>
                    <h4><a href='/category/{{category.slug}}'>{{category.title}}</a></h4>
                    {{category.desc | safe}}
                </div>
                {% for tut, series in items %}
                    {% if series %}
                        <li>
                            <a href="/tutorials/{{tut.slug}}/">{{ series.name }}</a>
                            <span class='glyphicon glyphicon-list-alt'></span>
                            {% for s in series.tutorial_list %}
                                <a href='/tutorials/{{s.slug}}/'>{{forloop.counter}}</a>
                            {% endfor %}
                        </li>
                    {% else %}
                        <li><a href="/tutorials/{{tut.slug}}/">{{ tut.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </div>
            <hr/>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
