{% extends "base.html" %}

{% block content %}
    {% if tutorial %}
        {% if tutorial.post_image %}
            <img class='tut-post-image img-responsive' src="{{ tutorial.post_image }}" />
        {% endif %}
        <h2> {{tutorial.title}} </h2>
       <div class="fb-like" data-href="http://facebook.com/aishack" data-width='595px' data-layout="standard" data-action="like" data-show-faces="true"></div> 
        <hr />
        {{ tutorial.content | safe }}

        {% if tutorial.series %}
            <hr />
            <p>This tutorial is part of a series called <strong>{{ tutorial.series.name }}</strong>:</p>
            <ol>
                {% for tut in tutorial.series.tutorial_list %}
                    <li>
                        {% ifequal tut tutorial %}
                            <strong>{{tut.title}}</strong>
                        {% else %}
                            <a href='/tutorials/{{tut.slug}}/'>{{tut.title}}</a>
                        {% endifequal %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}

        <hr />
       <div class="fb-like" data-href="http://facebook.com/aishack" data-width='595px' data-layout="standard" data-action="like" data-show-faces="true"></div> 
        <hr />

        {# related posts #}
        {% if related_tuts %}
            <p><strong>Related posts</strong></p>
            <div class='row'>
                {% for tut in related_tuts %}
                    <div class='col-md-4'>
                        <img class='img-responsive' src='{{tut.post_image}}' />
                        <p><a href='/tutorials/{{tut.slug}}/'>{{ tut.title }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {# author bio #}
        <div class='well'>
            <div class='col-sm-2'>{% if aishackuser.website %}<a href='{{ aishackuser.website }}' target='_blank'>{% endif %}<img class='img-circle' src='http://gravatar.com/avatar/{{ author_email_md5 }}?size=80px' />{% if aishackuser.website %} </a>{% endif %}</div>
            <div class='col-sm-10'>{{ aishackuser.short_bio | safe }}</div>
            <div class='clearfix'></div>
        </div>

    {% else %}
        <h2>Tutorials</h2>
        <p>Here is a listing of all the tutorials on this AI Shack</p>
        <h3>Tracks</h3>
        <p>Tracks are a series of tutorials put together in a logical order</p>
        {% for track in tracks %}
            <div class='clearfix'>
                <div class='row'>
                <div class='col-md-2'>
                    <a href='/tracks/{{track.slug}}/'><img src='{{track.thumbnail}}' /></a>
                    <hr/>
                </div>

                <div class='caption col-md-10'>
                    <h4><a href='/tracks/{{track.slug}}/'>{{track.title}}</a></h4>
                    <p>{{track.excerpt | safe}}</p>
                    {% if track in tracks_following %}
                        <p>Following</p>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
        <h3>Tutorials</h3>
        <p>There are individual tutorials - pick and choose whichever you like!</p>
        <ul>
        {% for tut, series in tutorials_to_display %}
            {% if series %}
                <li>
                    <a href="/tutorials/{{tut.slug}}/">{{ series.name }}</a>
                    <span class='glyphicon glyphicon-list-alt'></span>
                    {% for s in series.tutorial_list %}
                        <a href='/tutorials/{{s.slug}}/'>{{forloop.counter}}</a>
                    {% endfor %}
                </li>
            {% else %}
                <li><a href="/tutorials/{{tut.slug}}/">{{ tut.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
