{% extends "base.html" %}

{% block content %}
    {% if tutorial %}
        {% if tutorial.post_image %}
            <img class='tut-post-image img-responsive' src="{{ tutorial.post_image }}" />
        {% endif %}
        <h2> {{tutorial.title}} </h2>
        <hr />
        {{ tutorial.content | safe }}

        <hr />

        {# related posts #}
        <p><strong>Related posts</strong></p>
        <div class='row'>
            {% for tut in related_tuts %}
                <div class='col-md-4'>
                    <img class='img-responsive' src='{{tut.post_image}}' />
                    <p><a href='/tutorials/{{tut.slug}}'>{{ tut.title }}</a></p>
                </div>
            {% endfor %}
        </div>

        {# author bio #}
        <div class='well'>
            <div class='col-sm-2'>{% if aishackuser.website %}<a href='{{ aishackuser.website }}' target='_blank'>{% endif %}<img class='img-circle' src='http://gravatar.com/avatar/{{ author_email_md5 }}?size=80px' />{% if aishackuser.website %} </a>{% endif %}</div>
            <div class='col-sm-10'>{{ aishackuser.short_bio | safe }}</div>
            <div class='clearfix'></div>
        </div>

    {% else %}
        <h2>Tutorials</h2>
        Tutorial tracks
        {% for track in tracks %}
            <div class='clearfix'>
                <div class='thumbnail pull-left'>
                    <a href='/tracks/{{track.slug}}'><img src='{{track.thumbnail}}' /></a>
                </div>

                <div class='caption'>
                    <h4><a href='/tracks/{{track.slug}}'>{{track.title}}</a></h4>
                    <p>{{track.excerpt | safe}}</p>
                    {% if track in tracks_following %}
                        <p>Following</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for tut in tutorials reversed %}
            <ul>
                <li><a href="/tutorials/{{tut.slug}}">{{ tut.title }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
